.navBar {
    background-color: #fff;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    height: 10.5vh;
    display: flex;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    .part1 {
        display: flex;
        gap: 10px;
        padding: 10px;

        .logo {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 10px;
        }

        .title {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: x-large;
            font-weight: 900;
            color: rgb(5, 10, 29);
            /* color: rgb(86,54,133); */
        }
    }

    .part2 {
        display: flex;
        border: 1px solid rgb(214, 205, 233);
        border-radius: 5px;
        padding: 5px;
        margin: 20px;
        width: 30%;
    }

    .part2 input[type="search"] {
        border: none;
        outline: none;
        font-size: 16px;
        padding: 5px;
        width: 100%;
    }

    .part3 {
        position: relative;
        left: 550px;
        top: 20px;
        display: flex;
        .darkMode{
            object-fit: cover;
            height: 30px;
        }
        .profile{
            width: 40px;
            height: 40px; 
            position: relative;
            left: 20px;
            bottom: 3px;
        }
    }

}






.navBarD {
    background-color: rgb(5,10,29);
    /* background-color: rgb(40,36,61); */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    height: 10.5vh;
    display: flex;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    .part1 {
        display: flex;
        gap: 10px;
        padding: 10px;

        .logo {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 10px;
        }

        .title {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: x-large;
            font-weight: 900;
            color: rgb(212,209,233);
            /* color: rgb(86,54,133); */
        }
    }

    .part2 {
        display: flex;
        border: 1px solid rgb(214, 205, 233);
        border-radius: 5px;
        padding: 5px;
        margin: 20px;
        width: 30%;
    }

    .part2 input[type="search"] {
        border: none;
        outline: none;
        font-size: 16px;
        padding: 5px;
        width: 100%;
        /* background-color: rgb(40,36,61); */
        background-color: rgb(5,10,29);
        color: rgb(214, 205, 233);

    }

    .part3 {
        position: relative;
        left: 550px;
        top: 20px;
        display: flex;
        .darkMode{
            object-fit: cover;
            height: 30px;
        }
        .profile{
            width: 40px;
            height: 40px; 
            position: relative;
            left: 20px;
            bottom: 3px;
        }
    }

}